{:paths ["src" "config"]
 :deps  {com.cemerick/pomegranate {:mvn/version "1.1.0"}
         org.clojure/data.xml {:mvn/version "0.2.0-alpha5"}
         defunkt/revolt {:mvn/version "1.3.8"}}
 :aliases {:dev {:extra-deps  {cider/cider-nrepl {:mvn/version "0.25.4"}
                               refactor-nrepl/refactor-nrepl {:mvn/version "2.5.0"}}
                 :main-opts   ["-m" "revolt.bootstrap"
                               "-c" "revolt.edn"]}}}
