{:revolt.task/info  {:name "revolt-catapulte-task"
                     :package defunkt
                     :version "0.1.2"
                     :description "Task to install/deploy a jar"}
 :revolt.task/clean {:extra-paths ["dist"]}
 :revolt.task/jar   {:exclude-paths #{"config"}}

 :revolt.plugin/nrepl {:port 5600}}
